body {
  margin: 60px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
svg {
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

svg {
  background-color: #61dafb;
  overflow: visible;
  display: block;
  width: 100%;
  min-height: 300px;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
}

button {
  margin: 0 auto 5px;
}
